/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0 auto;
  font-size: 14px;
}

a {
  font-size: 1.2em;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}

a:hover,
.active {
  color: #fcdc31;
}

i {
  cursor: pointer;
  transition: all 0.2s linear;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

/* - TESTO - */
h1 {
  font-size: 6.2em;
  color: #fcdc31;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2.3em;
  color: #fff;
}

/* |GENERAL STYLE| */
.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background: #ce1a26;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn:hover {
  background: #aa131d;
}

.white_txt {
  color: #fff;
}

/* | Fixed HEADER con Jumbotron | */
header {
  position: relative;
}

header img {
  width: 100%;
  margin-top: -30px;
}

/* + Dropdown Alert */

/* + Menù di navigazione principale */
.main_nav {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_nav .nav_logo img {
  height: 55px;
}

.main_nav .main_menu li {
  margin-right: 50px;
}

.main_nav .main_menu li:first-child::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #fcdc31;
  margin-left: 10px;
  cursor: pointer;
}

.main_nav .main_menu li i:hover {
  color: #fcdc31;
}

.main_menu i {
  color: #fff;
}

/* + Jumbotron */
.jumbotron {
  color: #fff;
}

.jumbotron .text_box {
  position: absolute;
  top: 420px;
  transform: translateY(-50%);
  margin-top: 50px;
}

.jumbotron h1 {
  letter-spacing: -5px;
  margin: -15px 0;
}

.jumbotron h2 {
  letter-spacing: -2px;
  font-weight: 500;
  margin-bottom: 10px;
}

.jumbotron .text_box .btn {
  width: 58%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron .text_box .btn span {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 2px;
}

.jumbotron .text_box .btn i {
  margin-left: 2px;
}

/* | MAIN | */
main {
  position: relative;
}

.icons_container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -160px;
}

.icons_container .icon_box {
  font-size: 1.1em;
  font-weight: 700;
  color: #4a4e57;
  margin: 0 70px;
}

.icons_container .icon_box i {
  color: #000;
  margin-right: 10px;
}

/* + Popular Dishes Section */
.popular_dishes {
  margin: 100px auto 50px;
  text-align: center;
}

.popular_dishes h2 {
  margin-bottom: 60px;
}

.popular_dishes .popular_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular_container .popular_box:not(:last-child) {
  margin-right: 20px;
}

.popular_container .popular_box img {
  width: 95%;
}

.popular_container .popular_box h3 {
  font-weight: 600;
  color: #212934;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.2s linear;
}

.popular_container .popular_box h3:hover {
  color: #aa131d;
}

.popular_container .popular_box p {
  font-size: 1.4em;
  color: #ce1a26;
}

.popular_dishes .btn {
  margin: 50px auto;
  width: 230px;
}

.popular_dishes .btn i {
  margin-left: 5px;
}

/* + Discount Waves Divider */
.discount_divider {
  position: relative;
}
.discount_divider img:first-child {
  position: absolute;
}

.discount_divider img:last-child {
  width: 100%;
  height: 480px;
  object-fit: cover;
  object-position: 0 0;
}

/* + Menu Categories Section */
.menu_cat {
  margin: 80px auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.menu_cat .menu_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu_box .box {
  margin: 0 15px 15px 0;
  width: calc(100% / 4 - 15px);
  position: relative;
}

.menu_box .box:nth-child(4n + 0) {
  margin: 0;
}

.menu_box .box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: brightness(55%);
}

.menu_box .box span {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}

.allergens_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allergens_box .box {
  text-align: center;
  width: calc(100% / 4);
}

.allergens_box .box img {
  width: 100%;
  padding: 40px 120px 10px;
}

.allergens_box .box p {
  font-size: 1.5em;
  font-weight: 700;
}

/* + Download App Divider */
.app_divider {
  position: relative;
  height: 550px;
}

.app_divider > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.app_divider .app_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app_divider .app_box h1 {
  margin-top: -20px;
}

.app_box img {
  width: 170px;
  margin: 50px 20px 0 0;
}

/* + Latest News Section */
.latest_news {
  margin: 80px auto;
}

.latest_news .news_box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.news_box .box {
  width: calc(100% / 2 - 30px);
}

.news_box .box:first-child {
  margin-right: 30px;
}

.news_box .box img {
  width: 100%;
  transition: all 0.5s linear;
  cursor: pointer;
}

.news_box .box img:hover {
  filter: brightness(75%);
}

.news_box .box h3 {
  font-size: 3em;
  color: #212934;
  margin: 20px 0 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.news_box .box h3:hover {
  color: #aa131d;
}

.news_box .box p {
  font-size: 1.2em;
  line-height: 1.8;
  color: #4a4e57;
  padding: 0 20px;
}

/* | FOOTER | */
/* + Nav Footer */

/* + Mailing List Section */
