/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0 auto;
  font-size: 14px;
}

a {
  font-size: 1.2em;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}

a:hover,
.active {
  color: #fcdc31;
}

i {
  cursor: pointer;
  transition: all 0.2s linear;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

/* - TESTO - */
h1 {
  font-size: 6.2em;
  color: #fcdc31;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2.3em;
  color: #fff;
}

/* |GENERAL STYLE| */
.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background: #ce1a26;
  text-transform: uppercase;
  font-weight: 600;
  padding: 13px 15px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn:hover {
  background: #aa131d;
}

.white_txt {
  color: #fff;
}

.yellow_txt {
  color: #fcdc31;
}

/* | Fixed HEADER con Jumbotron | */
header {
  position: relative;
}

header img {
  width: 100%;
  margin-top: -30px;
}

/* + Dropdown Alert */
.dropdown_box {
  width: 100%;
  height: 0;
  background: #ce1a26;
  color: #fff;
  font-weight: 600;
  font-size: 1.6em;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.dropdown_box p {
  display: none;
}

.dropdown_box p.show {
  display: block;
}

.dropdown_btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ce1a26;
  color: #fff;
  font-size: 0.8em;
  position: absolute;
  bottom: -80px;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* + CTA Boxes */
.cta_container {
  position: fixed;
  top: 150px;
  right: 60px;
}

.cta_box {
  background: #fff;
  color: #33475b;
  font-size: 1em;
  font-weight: 700;
  border-radius: 8px;
  margin: 8px 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s linear;
}

.cta_box .icons {
  width: 35px;
  display: flex;
}

.cta_box .icons i {
  font-size: 1.8em;
  margin: 0 20px 5px 5px;
}

/* + Menù di navigazione principale */
.main_nav {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_nav .nav_logo img {
  height: 55px;
}

.main_nav .main_menu li {
  margin-right: 50px;
  font-size: 1.1em;
}

.main_nav .main_menu li:first-child::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #fcdc31;
  margin-left: 10px;
  cursor: pointer;
}

.main_nav .main_menu li i:hover {
  color: #fcdc31;
}

.main_menu i {
  color: #fff;
}

/* + Jumbotron */
.jumbotron {
  color: #fff;
}

.jumbotron .text_box {
  position: absolute;
  top: 420px;
  transform: translateY(-50%);
  margin-top: 50px;
}

.jumbotron h1 {
  letter-spacing: -5px;
  margin: -15px 0;
}

.jumbotron h2 {
  letter-spacing: -2px;
  font-weight: 500;
  margin-bottom: 10px;
}

.jumbotron .text_box .btn {
  width: 56%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron .text_box .btn span {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 2px;
}

.jumbotron .text_box .btn i {
  margin-left: 5px;
}

/* | MAIN | */
main {
  position: relative;
}

.icons_container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -160px;
}

.icons_container .icon_box {
  font-size: 1.1em;
  font-weight: 700;
  color: #4a4e57;
  margin: 0 65px;
}

.icons_container .icon_box i {
  color: #000;
  margin-right: 10px;
}

.icons_container .icon_box span {
  letter-spacing: 2px;
}

/* + Popular Dishes Section */
.popular_dishes {
  margin: 100px auto 50px;
  text-align: center;
}

.popular_dishes h2 {
  margin-bottom: 60px;
}

.popular_dishes .popular_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular_container .popular_box:not(:last-child) {
  margin-right: 20px;
}

.popular_container .popular_box {
  position: relative;
}

.popular_container .popular_box .selection_txt {
  width: 95%;
  height: 85.5%;
  background: rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10px;
  transition: all 0.4s linear;
  opacity: 0;
  cursor: pointer;
}

.popular_container .popular_box .selection_txt.show {
  opacity: 1;
}

.popular_box .selection_txt p {
  letter-spacing: 1px;
  color: #fff;
}

.popular_box .selection_txt span {
  cursor: pointer;
  transition: all 0.2s linear;
}

.popular_box .selection_txt span:hover {
  color: rgba(255, 255, 255, 0.5);
}

.popular_container .popular_box img {
  width: 95%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.popular_container .popular_box h3 {
  font-weight: 600;
  color: #212934;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.2s linear;
}

.popular_container .popular_box h3:hover {
  color: #aa131d;
}

.popular_container .popular_box > p {
  font-size: 1.4em;
  color: #ce1a26;
}

.popular_dishes .btn {
  letter-spacing: 2px;
  margin: 50px auto;
  width: 230px;
  font-weight: 700;
}

.popular_dishes .btn i {
  margin-left: 5px;
}

/* + Discount Waves Divider */
.discount_divider {
  position: relative;
}
.discount_divider img:first-child {
  position: absolute;
}

.discount_divider img:last-child {
  width: 100%;
  height: 480px;
  object-fit: cover;
  object-position: 0 0;
}

/* + Menu Categories Section */
.menu_cat,
.latest_news {
  margin: 100px auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.title .btn {
  letter-spacing: 2px;
  width: 230px;
  font-weight: 700;
}

.menu_cat .menu_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu_box .box {
  margin: 0 15px 15px 0;
  width: calc(100% / 4 - 15px);
  position: relative;
}

.menu_box .box:nth-child(4n + 0) {
  margin: 0;
}

.menu_box .box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: brightness(55%);
}

.menu_box .box span {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
}

.allergens_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allergens_box .box {
  text-align: center;
  width: calc(100% / 4);
}

.allergens_box .box img {
  width: 100%;
  padding: 40px 120px 10px;
}

.allergens_box .box p {
  font-size: 1.5em;
  font-weight: 700;
}

/* + Download App Divider */
.app_divider {
  position: relative;
  height: 550px;
}

.app_divider > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.app_divider .app_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app_divider .app_box h1 {
  margin-top: -20px;
}

.app_box img {
  width: 170px;
  margin: 50px 20px 0 0;
}

/* + Latest News Section */
.latest_news .news_box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.news_box .box {
  width: calc(100% / 2 - 30px);
}

.news_box .box:first-child {
  margin-right: 30px;
}

.news_box .box img {
  width: 100%;
  transition: all 0.5s linear;
  cursor: pointer;
}

.news_box .box img:hover {
  filter: brightness(75%);
}

.news_box .box h3 {
  font-size: 3em;
  color: #212934;
  margin: 20px 0 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.news_box .box h3:hover {
  color: #aa131d;
}

.news_box .box p {
  font-size: 1.2em;
  line-height: 1.8;
  color: #4a4e57;
  padding: 0 20px;
}

/* | FOOTER | */
footer {
  position: relative;
  color: #fff;
}

footer > img {
  width: 100%;
  height: 1250px;
  object-fit: cover;
  object-position: bottom;
}

footer .container {
  height: 1250px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* + Nav Footer */
.footer_nav {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 30px;
}

.footer_menu {
  border: 1px solid red;
  padding: 50px;
}

.footer_box p {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footer_box li {
  display: block;
  margin-bottom: 25px;
  font-size: 1.1em;
  font-weight: 600;
  transition: all 0.2s linear;
  cursor: pointer;
}

.footer_box li:hover {
  color: #fcdc31;
}

.footer_box.info img {
  display: block;
  width: 150px;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer_box.opening li {
  margin-bottom: 10px;
}

.footer_box.voucher {
  text-align: center;
}

.footer_box.voucher img {
  margin: 20px 0;
  width: 150px;
}

.footer_box.voucher p {
  text-transform: unset;
  margin-bottom: 0;
  font-weight: 600;
}

.footer_box.voucher :nth-child(4) {
  font-size: 1.8em;
  font-weight: 700;
}

/* + Mailing List Section */
.mailing_list {
  text-align: center;
}

.mailing_list img {
  width: 220px;
  margin-bottom: 35px;
}

.mailing_list .sign_txt {
  font-size: 1.2em;
  margin: 10px 0;
}

.mailing_list input {
  width: 650px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 30px 0;
  padding-left: 20px;
  color: #9ea0a4;
  transition: all 0.2s linear;
}

.mailing_list input:focus {
  border: 1px solid #ce1a26;
  color: #212934;
}

.mailing_list .btn {
  width: 650px;
  margin: 0 auto 30px;
  padding: 12px 0;
  letter-spacing: 2px;
  font-weight: 600;
}

.mailing_list .icon_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailing_list .icon_title .box {
  margin-bottom: 50px;
}

.mailing_list .icon_title .box p {
  font-size: 0.9em;
  color: #e2e2e2;
  background: rgba(0, 0, 0, 0.45);
  padding: 3px 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all 0.2s linear;
  opacity: 0;
}

.mailing_list .icon_title .box p.show {
  opacity: 1;
  position: relative;
}

.mailing_list .icon_title .box p.show::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.45);
}

.mailing_list .icon_title .box i {
  font-size: 1.2em;
}

.mailing_list .copy {
  color: #fcdc31;
  font-weight: 500;
}

/* + PULSANTE GO ON TOP */
.on_top {
  position: fixed;
  bottom: 0;
  right: 60px;
  width: 50px;
  height: 40px;
  border-radius: 5px 5px 0 0;
  background: rgba(51, 51, 51, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
}

.on_top:hover {
  background: #aa131d;
}
