<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Avada Takeout - Avada Website Builder for Wordpress & WooCommerce</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Link Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Link foglio di stile personale -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!-- + Contenitore principale per funzionalità Vue -->
    <div id="app">

        <!-- | Fixed HEADER con Jumbotron | -->
        <header>
    
            <!-- + Background Image Header -->
            <div class="background">
                <img src="img/home-background-hero-scaled.jpg" alt="">
            </div>

            <!-- + Dropdown Alert -->
            <div class="dropdown_alert"></div>
            
            <!-- + Menù di navigazione principale -->
            <nav class="container main_nav">
                <div class="nav_logo">
                    <img src="img/takeout-logo-2x.png" alt="TakeOut Logo">
                </div>
                <div class="main_menu">
                    <ul>
                        <li v-for="(element, index) in mainMenu"><a :class="(counter==index)?'active':''">{{element}}</a></li>
                        <li><i class="fas fa-shopping-cart"></i></li>
                    </ul>
                </div>
            </nav>
    
            <!-- + Jumbotron -->
            <section class="container jumbotron">
                <div class="text_box">
                    <h2>Hungry?</h2>
                    <h1 class="active">Great Food</h1>
                    <h1 class="white_txt">Delivered</h1>
                    <div class="btn">
                        <span>View</span>
                        <span>our</span>
                        <span>menu</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </div>
                </div>
            </section>
        </header>
    
        <!-- | MAIN | -->
        <main>

            <!-- + Contenitore icone fondo jumbotron -->
            <div class="icons_container">
                <div v-for="element in jumbotron" class="icon_box">
                    <i :class="element.icon"></i>
                    <span>{{element.title.toUpperCase()}}</span>
                </div>
            </div>

            <!-- + Popular Dishes Section -->
            <section class="container popular_dishes">
                <h2>Our Most Popular Dishes</h2>
                <div class="popular_container">
                    <div v-for="dish in popularDishes" class="popular_box">
                        <img :src="dish.img" :alt="dish.title">
                        <h3>{{dish.title}}</h3>
                        <p>${{dish.price}}</p>
                    </div>
                </div>
                <div class="btn">
                    <span>Start your order</span>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </div>
            </section>
    
            <!-- + Discount Waves Divider -->
            <section class="discount_divider">
                <img src="img/waves.svg">
                <img src="img/first-order-background-scaled.jpg" alt="">
            </section>
    
            <!-- + Menu Categories Section -->
            <section class="container menu_cat">
                <div class="title">
                    <h2>Menu Categories</h2>
                    <div class="btn">
                        <span>View the full menu</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </div>
                </div>
                <div class="menu_box">
                    <div v-for="cat in menuCat" class="box">
                        <img :src="cat.img" :alt="cat.name">
                        <span>{{cat.name}}</span>
                    </div>
                </div>
                <div class="allergens_box">
                    <div v-for="element in allergens" class="box">
                        <img :src="element.icon" :alt="element.title">
                        <p>{{element.title}}</p>
                    </div>
                </div>
            </section>
    
            <!-- + Download App Divider -->
            <section class="app_divider">
                <img src="img/app-ordering-scaled.jpg" alt="App Background">
                <div class="container app_box">
                    <h3 class="white_txt">Download our</h3>
                    <h1>Ordering App</h1>
                    <img src="img/app-store-badge.png" alt="App Store">
                    <img src="img/play-store-badge.png" alt="Play Store">
                </div>
            </section>
    
            <!-- + Latest News Section -->
            <section class="container latest_news">
                <div class="title">
                    <h2>Latest News</h2>
                    <div class="btn">
                        <span>Read more news</span>
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </div>
                </div>
                <div class="news_box">
                    <div v-for="element in latestNews" class="box">
                        <img :src="element.img" :alt="element.title">
                        <h3>{{element.title}}</h3>
                        <p>{{element.text}}</p>
                    </div>
                </div>
            </section>
        </main>
    
        <!-- | FOOTER | -->
        <footer>
            
            <!-- + Nav Footer -->
            <nav class="footer_nav"></nav>
    
            <!-- + Mailing List Section -->
            <section class="mailing_list"></section>
        </footer>
    </div>

    <!-- Link Script Javascript -->
    <script src="js/script.js" charset="utf-8"></script>
</body>
</html>